<a href="https://colab.research.google.com/github/ducodbs0516/pdm18/blob/main/numpy/numpy_2_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# numpy array

- 생성
- 구조 살펴보기
- 수학연산 (columnwise, rowwise)

In [3]:
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data) # 리스트를 넘파이 배열로 변형해주기
# summarize the array content
print(data)
# summarize the array shape
print(data.shape)  # AttributeError: 'list' object has no attribute 'shape' (data list는 2차원, list는 shape객체가 없음, ) --> asarray 매개변수 넣어주기

[[1 2 3]
 [4 5 6]]
(2, 3)

## Print rows

In [9]:
# enumerate rows in a numpy array
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# data.shape # Error!
# convert to a numpy array
data = asarray(data)
# step through rows
for row in range(data.shape[]): # SyntaxError: invalid syntax
	print(data[])

SyntaxError: ignored

In [5]:
for row in range(data.shape[0]): 
	print(data[row])

[1 2 3]
[4 5 6]

In [6]:
data.shape # tuple
data.shape, data.shape[0], data.shape[1] # 2행 3열

((2, 3), 2, 3)

## Print columns

In [7]:
# enumerate rows in a numpy array
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data)
print(data)
# step through columns
for col in range(data.shape[]):  # SyntaxError: invalid syntax
	print(data[])

SyntaxError: ignored

In [40]:
data

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [41]:
for col in range(data.shape[1]): 
	print(data[:,col])

[[1 2 3]]
[[4 5 6]]
[[7 8 9]]

---

## NumPy Array Operations By Row and Column
- axis=None: Apply operation array-wise.
- axis=0: Apply operation column-wise, across all rows for each column.
- axis=1: Apply operation row-wise, across all columns for each row.

In [42]:
# sum values array-wise
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data)
# summarize the array content
print(data)
# sum data by array
result = data.sum(axis=1)  # sum() 배열 모든 항목들의 합, (axis=None: default, axis=0: column-wise, axis=1: row-wise)
# summarize the result
print(result)

[[1 2 3]
 [4 5 6]]
[ 6 15]

### Axis=0 Column-Wise Operation (수직으로)

In [43]:
# sum values column-wise
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data)
# summarize the array content
print(data)
# sum data by column
result = data.sum()
# summarize the result
print(result)

[[1 2 3]
 [4 5 6]]
21

### Axis=1 Row-Wise Operation (수평으로)

In [44]:
# sum values row-wise
from numpy import asarray
# define data as a list
data = [[1,2,3], [4,5,6]]
# convert to a numpy array
data = asarray(data)
# summarize the array content
print(data)
# sum data by row
result = data.sum()
# summarize the result
print(result)

[[1 2 3]
 [4 5 6]]
21

---

## [Challenge]
- 3d-array
    * axis = 0
    * axis = 1
    * axis = 2
    * axis = (0,1)

## [DIY: 도전하기]

- 3차원 배열을 리스트로부터 만드시오.
- [참고: numpy_sum_axis](http://taewan.kim/post/numpy_sum_axis/)

In [45]:
# Make 3d-array in numpy
data = [[[1,2,3], [4,5,6],[7,8,9]]]
print(data)
data = asarray(data)
print(data)

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]]]
[[[1 2 3]
  [4 5 6]
  [7 8 9]]]

In [46]:
d1 = data.reshape([1,3,3])

In [47]:
d1,d1.ndim

(array([[[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]]), 3)

In [48]:
d2 = data.reshape([3,1,3])

In [49]:
d2,d2.ndim

(array([[[1, 2, 3]],

        [[4, 5, 6]],

        [[7, 8, 9]]]), 3)